<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title inertia>
    AdonisJS x Inertia x VueJS
  </title>

  <link rel="preconnect" href="https://fonts.bunny.net" />
  <link href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <style>
    :root {
      --sand-1: #0d0d0d;
      --sand-2: #1a1a1a;
      --sand-3: #262626;
      --sand-4: #333333;
      --sand-5: #404040;
      --sand-6: #4d4d4d;
      --sand-7: #595959;
      --sand-8: #666666;
      --sand-9: #737373;
      --sand-10: #808080;
      --sand-11: #adadad;
      --sand-12: #f5f5f5;
    }
  </style>

  <script src="https://cdn.tailwindcss.com">

  </script>

  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ["Instrument Sans", "sans-serif"]
          },
          colors: {
            primary: {
              DEFAULT: "#5A45FF"
            },
            sand: {
              1: "var(--sand-1)",
              2: "var(--sand-2)",
              3: "var(--sand-3)",
              4: "var(--sand-4)",
              5: "var(--sand-5)",
              6: "var(--sand-6)",
              7: "var(--sand-7)",
              8: "var(--sand-8)",
              9: "var(--sand-9)",
              10: "var(--sand-10)",
              11: "var(--sand-11)",
              12: "var(--sand-12)"
            }
          }
        }
      }
    };
  </script>

  @vite(['inertia/app/app.ts'])
  @inertiaHead()
  @stack('dumper')
</head>

<body class="min-h-screen w-screen font-sans bg-sand-1 text-sand-12">
  @inertia()
</body>

</html>
